@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: TypoRounded;
  src: url(../public/Fonts/Typo/TypoRoundRegularDemo-mJ8P.ttf);
}
@font-face {
  font-family: TypoRounded;
  src: url(../public/Fonts/Typo/TypoRoundBoldItalicDemo-26Dv.ttf);
  font-weight:bold;
  font-style: italic;
}
@font-face {
  font-family: TypoRounded;
  src: url(../public/Fonts/Typo/TypoRoundBoldDemo-KAZ7.ttf);
  font-weight: bold;
}

body{
 
  background-color: #d1e3e6;
  background-image: linear-gradient(77deg, #d1e3e6 0%, #d8d4e6 99%);
  


  background-repeat: no-repeat;
  font-family: Optima;
  color:#54301A;
}
p{
  font-family: 'Helvetica Neue';
  font-weight: 300;
}
.message{
  font-family: Optima;
}
