@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: TypoRounded;
  src: url(../public/Fonts/Typo/TypoRoundRegularDemo-mJ8P.ttf);
}
@font-face {
  font-family: TypoRounded;
  src: url(../public/Fonts/Typo/TypoRoundBoldItalicDemo-26Dv.ttf);
  font-weight:bold;
  font-style: italic;
}
@font-face {
  font-family: TypoRounded;
  src: url(../public/Fonts/Typo/TypoRoundBoldDemo-KAZ7.ttf);
  font-weight: bold;
}

body{
  background-image: radial-gradient(77.71% 153.67% at 75.94% 29.39%, #D8D4E6 0%, #D1E3E6 55.56%, #E6EAF2 100%); 
  background-repeat: no-repeat;
  font-family: Optima;
  color:#54301A;
}

