@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: TypoRounded;
  src: url(../public/Fonts/Typo/TypoRoundRegularDemo-mJ8P.ttf);
}
@font-face {
  font-family: TypoRounded;
  src: url(../public/Fonts/Typo/TypoRoundBoldItalicDemo-26Dv.ttf);
  font-weight:bold;
  font-style: italic;
}
@font-face {
  font-family: TypoRounded;
  src: url(../public/Fonts/Typo/TypoRoundBoldDemo-KAZ7.ttf);
  font-weight: bold;
}

body{
 
  background-color: #d1e3e6;
  background-image: linear-gradient(77deg, #d1e3e6 0%, #d8d4e6 99%);
  background-repeat: no-repeat;
  font-family: Optima;
  color:#54301A;
}

p{
  font-family: 'Helvetica Neue';
  font-weight: 300;
}
.message{
  font-family: Optima;
}

.container {
  
  /* position:absolute; */
   perspective: 800;
  -webkit-perspective: 800;
}
.card {

  
  transform-style:preserve-3d;
  -webkit-transform-style: preserve-3d;
  position:relative;
  transform: all 2s ease;
  border-radius: 10px;
  
}
.card:hover{
  transform:rotateY(180deg);
}
.LrnBtn:hover{
  transform:rotateY(180deg);
}
.front,.back{
  backface-visibility:hidden;
  -webkit-backface-visibility:hidden;
}
.back {
  background-color:white;
  position: relative;
  /* bottom: 440px; */
  transform:rotateY(180deg)
}
.leftTopCon{
  @apply h-3/5 px-6 pt-4 rounded-3xl bg-white
} 
.leftBottomCon{
  @apply h-2/6 rounded-3xl bg-white mt-6 py-6
}
.rightTopCon{
  @apply h-2/6 rounded-3xl bg-white py-6
}
.bottomLeftCon{
  @apply mr-3 w-1/2 bg-white rounded-3xl
}
.bottomRightCon{
  @apply ml-3 w-1/2 border bg-white rounded-3xl
}
.showMenu{
  @apply bg-[#d1e3e6] bg-opacity-70 absolute inset-y-[40px] right-0 w-full  flex justify-around h-fit text-right font-medium  lg:hidden
}
.hide{
  @apply hidden   
}
.show{
  @apply mt-2 w-6 h-7
}